{# /var/www/backend/templates/home/index.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    <title>Mulligan - Accueil</title>
  </head>
  <body>
    <div id="app"></div>

    {# Charge ton front Vue via Vite #}
    <script type="module" src="http://localhost:5173/src/main.js"></script>
  </body>
</html>
